<nav id="navbar">
    <ul class="nav-ul">
        <li id="logo" class="nav-item"><a href="/home">Jelli</a></li>
    </ul>
    <ul class="nav-ul">
        <%if(!currentUser){%>
            <li class="nav-item"><a class="anchor-tag" href="/login">Login</a></li>
            <li class="nav-item"><a class="anchor-tag" href="/register">Sign Up</a></li>
            <%} else {%>
                <li class="nav-item"><a class="anchor-tag" href="/myProfile">My Profile</a></li>
                <li class="nav-item"><a class="anchor-tag" href="/logout">Logout</a></li>
            <% } %>
    </ul>
</nav>