<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../assets/app.css"> -->
    <!-- <link rel="stylesheet" href="../assets/navbar.css"> -->
    <link rel="stylesheet" href="../assets/intro.css">
    <title>Home</title>
</head>
<body>
    

    <main>
        <section class="wrap">
            <div class="intro-image">
                <!-- <img src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="image"> -->
            </div>
            <h1 id="logo">Jelli</h1>

            <section class="intro-card">
                <a href="/login">Login</a>
                <a href="/register">Sign Up</a>
                <a href="/home">Peek</a>
                <div>
                    "Be a part of the life happening around you "
                </div>
            </section>
        </section>
    </main>


    <script src="https://kit.fontawesome.com/3a105db922.js" crossorigin="anonymous"></script>
</body>

</html>