<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/register.css">
    <title>Login</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %> 
    <% if(flashMsg!= ''){ %>     <!-- here it is a flash message -->
        <div class="success-msg"><%=flashMsg%></div>
    <%}%>
    <% if(errorMsg!= ''){ %>     <!-- here it is a flash message -->
        <div class="error-msg"><%=errorMsg%></div>
    <%}%>
    <% if(typeof errorMsg2!= 'undefined'){ %>     <!-- here it is a flash message but from passport so idk ... -->
        <div class="error-msg"><%=errorMsg2%></div>
    <%}%>
    <main>
        <form action="/login" method="POST" class="card-div">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button>Login</button>
        </form>
    <main>



</body>
</html>