<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/register.css">
    <title>Sign Up</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %> 

    <main>
        <form action="/register" method="POST" class="card-div">
            <h2>Sign Up here</h2>
            <% if(typeof msg!= 'undefined'){ %>      <!-- here msg is a normally passes parameter -->
                <div class="error-msg"><%=msg%></div>
            <%}%>
            <input type="email" name="email" placeholder="Email Id">
            <input type="text" name="name" placeholder="Name">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password2" placeholder="Re-enter the password">
            <button>Sign Up</button>
        </form>
        <main>



</body>

</html>