@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* background-color: rgb(187, 197, 52); */
    background-image: url('https://t4.ftcdn.net/jpg/02/83/13/61/360_F_283136113_b3VRHNiOPFMOluzYJPpfuoH8Czh9c743.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}

.main{
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
}



/* SECTION 1 */
.sec-1-stories{
    padding-bottom: 100px;
}

/* SECTION 2 */
.sec-2-side-panel{
    color: #000;
    width: 400px;
    height: 500px;
    position: sticky;
    top: 170px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #72ddf7;
    border-radius: 5px;
    padding: 2rem;
}

.greeting{
    margin-bottom: 20px;
}

.new-btn{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: #00cc99;
    padding: 0.5rem 0.7rem;
    margin-top: 20px;
    width: 105px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    transition: all 0.2s;
}

.new-btn:hover{
    color: aliceblue;
    background-color: #485458;
}

.quotes-text{
    font-family: cursive;
    font-size: 1.2rem;
    margin-top: 50px;
    text-align: center;
    line-height: 40px;
}

.refresh{
    margin-left: 10px;
    color: greenyellow;
    cursor: pointer;
}



/* flash messages */
.success-msg{
    text-align: center;
    background-color: greenyellow;
    width: 40%;
    padding: 10px;
    font-size: 1.1rem;
    margin: 10px auto;
}

.error-msg{
    text-align: center;
    background-color: red;
    width: 40%;
    padding: 5px;
    font-size: 1.1rem;
    margin: 10px auto;
}