*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* background-color: rgb(187, 197, 52); */
    background-image: url('https://t4.ftcdn.net/jpg/02/83/13/61/360_F_283136113_b3VRHNiOPFMOluzYJPpfuoH8Czh9c743.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}

.main{
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
}



/* SECTION 1 */


/* SECTION 2 */
.sec-2-side-panel{
    width: 400px;
    height: 500px;
    position: sticky;
    top: 170px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #72ddf7;
    border-radius: 5px;
    padding: 2rem;
}

.greeting{
    color: aliceblue;
    margin-bottom: 20px;
}

.new-btn{
    color: black;
    text-decoration: none;
    background-color: #00cc99;
    padding: 0.5rem 0.7rem;
    width: 90px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}




/* FOOTER  */
.footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    background-color:rgb(48, 187, 145);

}

/* flash messages */
.success-msg{
    text-align: center;
    background-color: greenyellow;
    width: 40%;
    padding: 10px;
    font-size: 1.1rem;
    margin: 10px auto;
}

.error-msg{
    text-align: center;
    background-color: red;
    width: 40%;
    padding: 5px;
    font-size: 1.1rem;
    margin: 10px auto;
}