*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.story{
    width: 800px;
    background-color: rgba(235, 186, 220, 0.678);
}

body{
    height: 1000px;
}

input{
    width: 70%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid grey;
}

textarea{
    width: 78%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid grey;
}

input{
    margin: 10px 0px;
}

input:focus, textarea:focus{
    outline: none;
}



.update-btn{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00cc99;
    padding: 6px 18px;
    margin: 20px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.delete-btn{
    margin-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    background-color: rgb(255, 100, 100);
    color: rgb(0, 0, 0);
    padding: 6px 11px;
    border-radius: 5px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}


