.new-btn{
    position: relative;
    left: 15%;
}

.home-btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #1e1cad;
    padding: 0.5rem 0.75rem;
    position: relative;
    /* left: 58.5%; */
    border-radius: 3px;
    cursor: pointer;
    border: none;
}