form{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 60px;
    width: 60%;
    height: 80vh;
    margin: auto;
    background-color: #1d577d4a;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

input, textarea{
    width: 70%;
    padding: 0.5rem 1rem;
}


input:focus, textarea:focus{
    outline: none;
}

.btn{
    background-color: rgb(45, 204, 72);
    padding: 6px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




.image-super{
    display: flex;
    align-items: flex-end;
}


.form-group-image{
    width: 150px; /* 120px */
    text-align: center;
    height: 30px;  /* 30px */
    padding: 5px;
    background-color: rgb(176, 207, 37);
    border-radius: 5px;
    font-size: 1.1rem;
}

#post-image{
    display: none;
}

label{
    cursor: pointer;

}

.image-preview-container{
    width: 280px;
    height: 180px;
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    /* display: none; */

}

.image-preview-container span{
    color: #ddd;
    font-size: 1.2rem;
}

.image-preview-container img{
    max-height: 100%;
    width: 95%;
    object-fit: contain;
    display: none;
    /* background-color: #fff; */

}