@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Style+Script&display=swap');

.story{
    /* color: whitesmoke; */
    width: 650px;
    min-height: 150px;
    /* max-height: 1000px; */
    margin: 2rem auto;
    /* text-align: center;  */
    padding: 0rem 0rem;
    border: 1px solid hsl(309, 4%, 66%);
    border-radius: 3px;
    background-color: #f0eff4;

}

.story-top{
    padding: 0px 15px;
    padding-top: 5px;
    padding-bottom: 1px;
    font-size: 1.22rem;
    font-weight: bold;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #b7c3f3; */
    display: flex;
    align-items: center;
}

.story-top span:nth-of-type(2){
    padding-bottom: 7px;
}

.story-top span:nth-of-type(3){
    padding-bottom: 7px;
    padding-right: 10px;
    flex-basis: 100%;
    text-align: end;
}


.story-top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.story-image{
    max-height: 550px;
    width: 100%;
    object-fit: contain;
}

.story-details{
    margin: 0px 17px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.story-title{
    flex-basis: 90%;
}

.story-text{
    flex-basis: 90%;
}


.story h2{
    padding: 0.5rem 0px;
    font-size: 1.3rem;
}

.more-own-posts{
    margin-top: 15px;    
}

.edit-post{
    /* background-color: pink; */
    text-decoration: none;
    background-color: #8eaca498;
    color: black;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    left: 15px;
    transition: all .2s;
}

.edit-post:hover{
    color: rgb(108, 122, 122);
}